.section__main{
   @apply pb-9 tablet:pb-[100px] desktop:pb-[120px]
   pt-[106px] tablet:pt-[114px] desktop:pt-[150px]
}
.blockTop{
    @apply  flex flex-col gap-y-6 tablet:flex-row tablet:justify-between
    relative after:absolute after:block after:content-[''] after:-bottom-[24px] after:h-[1px] after:w-full after:bg-secondary
}
.block__description{
    @apply flex flex-col tablet:justify-start gap-y-6 tablet:gap-y-[43px] desktop:gap-y-5
            tablet:w-[342px] desktop:w-[460px]
}
.block__text{
    @apply w-full desktop:w-[363px]
}
.blockAddress{
 @apply mt-[49px] tablet:mt-[43px] desktop:mt-[41px] flex flex-col tablet:flex-row gap-x-2 tablet:justify-between items-center
        mb-[36px] tablet:mb-[40px] desktop:mb-[36px]
}

.textCopy{
    @apply hidden tablet:block
}