@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #173D33;
  --secondaryText: #97D28B;
  --bgColor: #F3F5FA;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.lock {
  overflow: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button{
  border: none;
  outline: none;
}
a{
  text-decoration: none;
}
summary {
  list-style-type: none; 
  cursor: pointer; 
}
summary::before {
  content: '';
  background-image: url('../public/assets/icons/accardion-add.svg');
  display: inline-flex;
  position: absolute;
  top:32px;
  left:0;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  
  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
    top:26px;
  }

  @media screen and (min-width: 1280px) {
    top:20px;
  }
}
details[open] summary::before {
  background-image: url('../public/assets/icons/accardion-minus.svg');
}

html,
body {
  height: 100%;
  color: var(--text);
  background-color: var(--bgColor);
  font-family: var(--firasans-font);
}
.wrapper-part{
  min-height: 100%;
  display: flex;
  flex-direction: column;

}
.main-part{ 
  flex: 1 1 auto;
  padding-top:76px;

  @media screen and (min-width: 1280px) {
    padding-top: 64px;
  }
}

.container-main {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 30px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 100px;
  }
}
.section-main{
  @apply pb-9 tablet:pb-[100px] desktop:pb-[120px]
}


.hoverSvg {
  transition: filter 0.5s ease-in;
}
.hoverSvg:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(3%) saturate(4773%) hue-rotate(104deg) brightness(101%) contrast(99%);
}

.hoverBtn {
  cursor: pointer;
  transition: filter 0.3s ease;
}
.hoverBtn:hover img{
  filter: brightness(0) saturate(100%) invert(62%) sepia(3%) saturate(4773%) hue-rotate(104deg) brightness(101%) contrast(99%);
}

.hoverAccent {
  transition: stroke;
}
.hoverAccent:hover img {
  stroke:var(--secondaryText);
}
.mane-title{
  @apply w-full tablet:w-[301px] desktop:w-[485px] text-primary text-4xl leading-9 font-normal uppercase tablet:text-5xl tablet:leading-[48px] desktop:text-[64px] desktop:leading-[64px]
}
.title{
  @apply text-primary text-left font-normal text-[28px] leading-7 uppercase  tablet:text-4xl tablet:leading-9 desktop:text-5xl desktop:leading-[48px]
}
.titleCenter{
  @apply text-center
}
.base-text{
  @apply text-primary text-base font-normal -tracking-[0.64px] 
}
.subBase-text{
  @apply  text-primary text-lg font-normal -tracking-[0.72px] desktop:text-2xl  desktop:-tracking-[0.96]
}
.contact-text{
  @apply text-primary text-xl font-normal -tracking-[0.8] desktop:text-2xl desktop:-tracking-[0.96]
}
