.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
.swiper-button-prev img,
.swiper-button-next img {
    display: block;
    height: auto;
    transition: filter 0.3s ease;
}
.swiper-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 66px;
    position: absolute;
    top: 22px; 
    right: 0;
    cursor: pointer;
    border: 1px solid #173D33;
    border-radius: 50%;
    padding: 8px;
    transition: border-color 0.3s ease;
}
.swiper-button:hover {
    border-color: #97d28b;;
}
.swiper-button:hover img {
    filter: brightness(0) saturate(100%) invert(62%) sepia(3%) saturate(4773%) hue-rotate(104deg) brightness(101%) contrast(99%);
}
.swiper-button-prev {
    right: 20px;
    transform: rotate(180deg);
}

@media screen and (min-width:1280px){
    .swiper-button {
        width: 84px;
        height: 84px;
    }
}